<!DOCTYPE html>
<html>
<head>
	<title>Filler - CIDEP</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>



	<div class="container-fluid">
		



		<div class="row" style="font-family: courier;">
			<div class="col-sm-6">
				<div class="jumbotron">
					<h3>Filler UI for CIDEP (Beta)</h3>			
				</div>
				<form action="/fill" method="POST">

					<h1 class="text-center">Create a cylinder</h1>
					<label>Radius</label>
					<div class="form-group">
						<input class="form-control" type="text" name="r" value="15" placeholder="radius" required>
					</div>
					<label>Plank step</label>
					<div class="form-group">
						<input class="form-control" type="text" name="step" value="2.5" placeholder="step" required>
					</div>
					<label>Height</label>
					<div class="form-group">
				    	<input class="form-control" type="text" name="height" value="1" placeholder="height" required>	
					</div>
					<label>Height step</label>
					<div class="form-group">
				    	<input class="form-control" type="text" name="heightStep" value="0.5" placeholder="step on z axis" required>
					</div>
					<div class="form-group">
                    	<button class="btn btn-lg btn-primary btn-block">Enviar</button>
                	</div>

				</form>
			</div>

			<div class="col-sm-6" style="background-color: gray; color: white; height: 100%;">
				<% if(fill===true){ %>
					<div class="container-fluid">
						<h1 class="text-center">This is the code</h1>
						<div class="form-group">
					        <textarea style="display: block;background-color: black;color: white; font-size: 0.8em; height: 100vh"  class="form-control"><%= cylinderGcode %></textarea>
					    </div>
					</div>
				<% } %>
			</div>
<!-- 			<div class="col-xs-12">
				<div class="container-fluid">
					<h1 class="text-center">This is the code</h1>
				<div class="form-group">
			        <textarea rows="10" class="form-control" name="post[text]" value="Texto (obligatorio)" required></textarea>
			    </div>
				</div>
			</div> -->
		</div>




	</div>

</body>
</html>